<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Peripheral Facial Paralysis</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/98531c6b6c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <header id="title">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand brand" href="">Facial Palsy Care</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item  me-2">
                <a class="nav-link" href="#detection">Detect me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact-me">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row heading">
          <h1 class="col-lg-6">
            Hi! Here is your caretaker. Detect your facial palsy and keep the
            track of your recovery.
          </h1>
          <img
            src="{{ url_for('static', filename='images/facial_palsy.jpg') }}"
            alt="palsy img"
            class="col-lg-6 face-img"
          />
        </div>
      </div>
    </header>
    <section id="detection">
      <div class="container detection">
        <div class="row">
          <div class="col-6 py-5">
            <img src="{{ url_for('static', filename='images/face-recognition.png') }}" alt="face-img" class="scan-face-img">
            <h5 class="w-100 text-center my-5">Detect your face here.</i></h5>
          </div>
          <div class="card mx-auto shadow border-0 col-6">
            <div class="card-body">
              <div class="image-wrapper mx-auto">
                <img
                  src="#"
                  alt="person image"
                  class="img-fluid"
                  id="imgPreview"
                />
              </div>
            </div>
          </div>
          <div class="col-6 ms-auto my-5">
            <form id="imageForm">
              <div class="form-group">
                <label for="exampleInputEmail1"  class="my-2">Upload Your Image Here</label>
                <input
                  class="form-control"
                  type="file"
                  name="photograph"
                  id="photo"
                  required="true"
                />
              </div>
              <button type="submit" class="btn btn-large btn-outline-dark mx-auto d-block my-2 img-sub-btn">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer class="py-2 footer">
      <div class="container">
        <h3 class="py-2">Result<span id="result" class="ms-4"></span></h3>
        <div class="progress d-none">
          <div
            class="progress-bar w-50"
            role="progressbar"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>

        <section id="contact-me">
        <div class="contact py-4">
          <h5>Contact-Us</h5>
          <i class="fa-solid fa-envelope py-2 env"></i>
          <h6 class="text-center">astha.verma_cs19@gla.ac.in</h6>
        </div>
      </section>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(() => {
        $("#photo").change(function () {
          const file = this.files[0];
          if (file) {
            let reader = new FileReader();
            reader.onload = function (event) {
              $("#imgPreview").attr("src", event.target.result);
            };
            reader.readAsDataURL(file);
          }
        });
      });
      $("#imageForm").submit((event)=>{
        event.preventDefault();
        var formData = new FormData();
        formData.append('file', $('#photo')[0].files[0]);

        // Next, we'll use jQuery's AJAX function to send a POST request to our API endpoint
        $.ajax({
          url: '/predict',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function(response) {
            console.log('Image uploaded successfully!',response);
            $("#result").text(response.result);
          },
          error: function(xhr, status, error) {
            console.error('Error uploading image:', error);
          }
        });
      })
    </script>
  </body>
</html>
